<b>Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [11]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
d=dict(zip(keys,values))
d

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [12]:
k=dict()
for i in range(len(keys)):
    k.update({keys[i]:values[i]})
k

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

<b>Exercise 3: Print the value of key ‘history’ from the below dict

In [33]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict.get('class').get('student').get('marks').get('history')

80

<b>Exercise 4: Initialize dictionary with default values

In [5]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
d=dict.fromkeys(employees,defaults)
d

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

<b>Exercise 6: Delete a list of keys from a dictionary

In [10]:
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":50000,
    "city": "New York"
}

keys=["name","salary"]
for i in range(len(keys)):
    sample_dict.pop(keys[i])
sample_dict

{'age': 25, 'city': 'New York'}

<b>Exercise 7: Check if a value exists in a dictionary
We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

Write a Python program to check if value 200 exists in the following dictionary.

Given:

sample_dict = {'a': 100, 'b': 200, 'c': 300}
Expected output:

200 present in a dict

In [31]:
sample_dict={'a':100,'b':200,'c':300}
if 200 in sample_dict.values():
        print("200 is present in dict")

200 is present in dict

<b>Exercise 8: Rename key of a dictionary Write a program to rename a key city to a location in the following dictionary.

In [ ]:
sample_dict={
    "name":"kelly",
    "age":25,
    "salary":50000,
    "city":"New York"
}
sample_dict.pop('city')
sample_dict.update({"location":"New York"})
sample_dict

<b>Exercise 9: Get the key of a minimum value from the following dictionary

In [61]:
sample_dict={
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(list(sample_dict.keys()))
#2
min(sample_dict, key=sample_dict.get)

'Math'

<b>Exercise 10: Change value of a key in a nested dictionary
Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [68]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

<b>1. Nested Dictionary Manipulation
You have the following dictionary structure:

data = {
    'students': {
        'Alice': {'math': 85, 'science': 92},
        'Bob': {'math': 78, 'science': 89},
        'Carol': {'math': 92, 'science': 87}
    }
}
Write code to calculate the average score of each subject across all students.
Find the student with the highest score in science.

In [109]:
data = {
    'students': {
        'Alice': {'math': 85, 'science': 92},
        'Bob': {'math': 78, 'science': 89},
        'Carol': {'math': 92, 'science': 87}
    }
}
average_score={}
for subject in data["students"]['Alice']:
    average_score[subject]=sum(student[subject] for student in data["students"].values())/len(data['students'])

print(average_score) 

max(data['students'],key=lambda x: data['students'][x]['science'])

{'math': 85.0, 'science': 89.33333333333333}

'Alice'

<b>2. Dictionary Comprehensions
Given a dictionary of words and their definitions:

python
Copy code
words = {
    'mutable': 'liable to change',
    'immutable': 'unchangeable',
    'enumerate': 'mention separately as if in counting',
    'comprehension': 'the act of understanding'
}
Use a dictionary comprehension to create a new dictionary with only the words that contain the letter 'e'.
Create a dictionary with the lengths of each word as values instead of their definitions.

In [115]:
words = {
    'mutable': 'liable to change',
    'immutable': 'unchangeable',
    'enumerate': 'mention separately as if in counting',
    'comprehension': 'the act of understanding'
}
#k={}
#for name in words.keys():
#    if "e" in name:
#        k.update({name:len(name)})
#k
w_e={word: definations for word,definations in words.items() if 'e' in word}
w_l={word: len(word) for word in words}
print(w_e)
print(w_l)

{'mutable': 'liable to change', 'immutable': 'unchangeable', 'enumerate': 'mention separately as if in counting', 'comprehension': 'the act of understanding'}
{'mutable': 7, 'immutable': 9, 'enumerate': 9, 'comprehension': 13}

<b>3. Sorting Dictionaries
Given a dictionary with product prices:

python
Copy code
prices = {
    'apple': 2.99,
    'banana': 1.29,
    'cherry': 4.99,
    'date': 3.49
}
Write code to sort the dictionary by price in ascending order.
Sort the dictionary by the product name in descending order.

In [ ]:
prices = {
    'apple': 2.99,
    'banana': 1.29,
    'cherry': 4.99,
    'date': 3.49
}